* {
	box-sizing: border-box;
}

.header {
	font-family: 'Roboto', cursive;
	font-weight: 100;
}

.jumbotron {
	background: #bcF2ff;
}

/* To change the color of the jumbotron to green (win) or red (lose)
Couldn't get it to work.

/*.jumbo-win {
    background: #33ffc4;
}

.jumbo-lose {    
    background: #ff6a6a;
}
*/

/* Popup for rules – outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 12;
	background: #bcF2ff;
}

/* Popup for rules – inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 2px rgba(0,0,0,1);
    border-radius:3px;
    background: white;
}
 
/* Popup close button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    transform:translate(50%, -50%);
    border-radius:500px;
    background:rgba(0,0,0,0.9);
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

body {
	color:#3e3e3e;
/*	background-image: url("../../assets/images/concrete-seamless.png"); */
	position: relative;
}

.target .wins .losses {
	width: 10px;
}

.record-score {
	border-radius: 10px;
	background: #c0c0c0;
	width:180px;
	padding:5px;
	margin-top: 1px;
}

.game {
	border-radius: 10px;
	background: #c0c0c0;
	width:250px;
	padding:8px;
	margin-top: 1px;
}

.row-crystals {
	margin-left:90px;
}

.crystals {
	margin-bottom:200px;
	margin-top:5px;
	padding:10px;
}

.btn-start {
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
}

.img:hover {
	cursor: pointer;
	opacity: 0.7;
}

.img {
	margin-top: 20px;
	margin-bottom: 20px;
}

#gameInit {
	border-radius: 5px;
	padding: 10px;
	width: 100px;
	margin-top: 50px;
    background: #bcF2ff;
}

.footer {
	margin-top: 50px;
}
